In [16]:
import pandas as pd

In [26]:
dict_faturamento = {
    'data_ref': [
        '2023-01-01', 
        '2020-02-01', 
        '2021-03-01', 
        '2022-04-01', 
        '2023-05-01',
        '2023-06-01', 
        '2020-07-01', 
        '2021-08-01', 
        '2022-09-01', 
        '2023-10-01',
        '2022-11-01', 
        '2023-12-01',
        ],
    'valor': [
        400000, 
        890000, 
        760000, 
        430000, 
        920000,
        340000, 
        800000, 
        500000, 
        200000, 
        900000,
        570000, 
        995000,
        ]
}

In [28]:
df_faturamento = pd.DataFrame.from_dict(dict_faturamento)

In [29]:
df_faturamento

      data_ref   valor
0   2023-01-01  400000
1   2020-02-01  890000
2   2021-03-01  760000
3   2022-04-01  430000
4   2023-05-01  920000
5   2023-06-01  340000
6   2020-07-01  800000
7   2021-08-01  500000
8   2022-09-01  200000
9   2023-10-01  900000
10  2022-11-01  570000
11  2023-12-01  995000

## Medidas Resumo

### Medidas de Posição

In [30]:
# media
df_faturamento["valor"].mean()

np.float64(642083.3333333334)

In [21]:
# mediana 
df_medidas["idade"].median()

np.float64(40.0)

In [22]:
# moda
df_medidas["idade"].mode()

0    25
Name: idade, dtype: int64

### Medidas de Dispersão

In [23]:
# variancia
df_medidas.idade.var()

np.float64(509.94444444444446)

In [24]:
# desvio padrao
df_medidas.idade.std()

np.float64(22.58194952709895)

In [25]:
# coeficiente de variação
df_medidas.idade.std() / df_medidas.idade.mean() * 100

np.float64(54.05253876167302)